{% extends 'base.html' %}


{% block content %}

    <main class="main">
        <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ url_for('site.main') }}">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Shop</a></li>
                </ol>
            </div><!-- End .container -->
        </nav><!-- End .breadcrumb-nav -->

        <div class="page-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="toolbox">
                            <div class="toolbox-left">
                                <div class="toolbox-info">
                                    Showing <span>{{products | length}}</span> Products
                                </div><!-- End .toolbox-info -->
                            </div><!-- End .toolbox-left -->

                        </div><!-- End .toolbox -->

                        <div class="products mb-3">
                            <div class="row justify-content-center">
                                {% for product in products %}

                                <div class="col-6 col-md-4 col-lg-4 col-xl-3">
                                    <div class="product product-7 text-center">
                                        <figure class="product-media">
                                            <a href="{{ url_for('site.product',id=product.id) }}">
                                                <img src="{{ url_for('uploads',filename=product.image) }}" alt="Product image" class="product-image">
                                            </a>

                                            <div class="product-action">
                                                <a href="{{ url_for('site.product',id=product.id) }}" class="btn-product btn-cart"><span>add to cart</span></a>
                                            </div><!-- End .product-action -->
                                        </figure><!-- End .product-media -->

                                        <div class="product-body">
                                            <div class="product-cat">
                                                <a href="#" role="button">{{product.category.name}}</a>
                                            </div><!-- End .product-cat -->
                                            <h3 class="product-title"><a href="{{ url_for('site.product',id=product.id) }}">{{product.name}}</a></h3><!-- End .product-title -->
                                            <div class="product-price">
                                                <span class="out-price">${{product.price}}</span>
                                            </div><!-- End .product-price -->

                                        </div><!-- End .product-body -->
                                    </div><!-- End .product -->
                                </div><!-- End .col-sm-6 col-lg-4 col-xl-3 -->
                                
                                {% endfor %}
                            </div><!-- End .row -->
                        </div><!-- End .products -->
                    </div><!-- End .col-lg-9 -->
                    <aside class="col-lg-3 order-lg-first">
                        <div class="sidebar sidebar-shop">
                            <div class="widget widget-clean">
                                <label>Filters:</label>
                                <a href="{{ url_for('site.shop') }}" class="">Clean All</a>
                            </div><!-- End .widget widget-clean -->

                            <div class="widget widget-collapsible">
                                <h3 class="widget-title">
                                    <a data-toggle="collapse" href="#widget-1" role="button" aria-expanded="true" aria-controls="widget-1">
                                        Category
                                    </a>
                                </h3><!-- End .widget-title -->

                                <div class="collapse show" id="widget-1">
                                    <div class="widget-body">
                                        <div class="filter-items filter-items-count">
                                            {% for category in categories %}
                                            <div class="filter-item">
                                                <div class="custom-control">
                                                    <a href="{{ url_for('site.shop', cat=[category.id])}}">{{category.name}}</a>
                                                </div><!-- End .custom-checkbox -->
                                            <span class="item-count">{{category.products|length}}</span>
                                            </div><!-- End .filter-item -->
                                            {% endfor %}
                                        </div><!-- End .filter-items -->
                                    </div><!-- End .widget-body -->
                                </div><!-- End .collapse -->
                            </div><!-- End .widget -->
                        </div><!-- End .sidebar sidebar-shop -->
                    </aside><!-- End .col-lg-3 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .page-content -->
    </main><!-- End .main -->

{% endblock %}