{% extends 'base.html' %}

{% block content %}
<main class="main">
    <div class="page-header text-center" style="background-image: url({{url_for('static', filename='assets/images/page-header-bg.jpg')}})">
        <div class="container">
            <h1 class="page-title">My Account<span>Shop</span></h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">My Account</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="dashboard">
            <div class="container">
                <div class="row">
                    <aside class="col-md-4 col-lg-3">
                        <ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="tab-dashboard-link" data-toggle="tab" href="#tab-dashboard" role="tab" aria-controls="tab-dashboard" aria-selected="true">Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab-account-link" data-toggle="tab" href="#tab-account" role="tab" aria-controls="tab-account" aria-selected="false">Account Details</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="tab-orders-link" data-toggle="tab" href="#tab-orders" role="tab" aria-controls="tab-orders" aria-selected="false">Orders</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('auth.logout') }}">Sign Out</a>
                            </li>
                        </ul>
                    </aside><!-- End .col-lg-3 -->

                    <div class="col-md-8 col-lg-9">
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="tab-dashboard" role="tabpanel" aria-labelledby="tab-dashboard-link">
                                <p>Hello <span class="font-weight-normal text-dark">User</span> ( {{current_user.username}} ) 
                                <br>
                                From your account dashboard you can view your <a href="#tab-orders" class="tab-trigger-link link-underline">recent orders</a>, manage your <a href="#tab-address" class="tab-trigger-link">shipping and billing addresses</a>, and <a href="#tab-account" class="tab-trigger-link">edit your password and account details</a>.</p>
                            </div><!-- .End .tab-pane -->

                            <div class="tab-pane fade" id="tab-account" role="tabpanel" aria-labelledby="tab-account-link">
                                <form action="#" method="post" enctype="multipart/form-data">

                                    <label>User Name *</label>
                                    <input type="text" class="form-control" name="username" value="{{current_user.username}}" required>
                                    <small class="form-text">This will be how your name will be displayed in the account section and in reviews</small>

                                    <label>New Password (leave blank to leave unchanged)</label>
                                    <input type="password" class="form-control name="password">

                                    <label>Email Address *</label>
                                    <input type="email" class="form-control" name="email" value="{{current_user.email}}" required>


                                    <button type="submit" class="btn btn-outline-primary-2">
                                        <span>SAVE CHANGES</span>
                                        <i class="icon-long-arrow-right"></i>
                                    </button>
                                </form>
                            </div><!-- .End .tab-pane -->

                            <div class="tab-pane fade" id="tab-orders" role="tabpanel" aria-labelledby="tab-orders-link">
                                {% for order in orders %} 
                                {% if order.status != "cart" %}
                                <div class="bg-gray p-2 m-2 row rounded border">

                                    <div class="col-12 col-lg-5">
                                        <p>Status: <b>{{order.status}}</b> </p>
                                        <p>Date: {{order.order_date.strftime("%Y-%d-%m")}}</p>
                                    </div>

                                    <div class="col-12 col-lg-5">
                                        Products:
                                        {% for item in order.orderitems %}
                                        <span>{{item.product.name}}</span> ,
                                        {% endfor %}
                                    </div>

                                    <div class="col-12 col-lg-2">
                                        {% if order.status == "completed" %}
                                        <a href="{{ url_for('ordering.add_feedback',id=order.id) }}" class="btn btn-info  mt-1">
                                            send Feedback
                                        </a>
                                        {% endif %}
                                    </div>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div><!-- .End .tab-pane -->

                        </div>
                    </div><!-- End .col-lg-9 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .dashboard -->
    </div><!-- End .page-content -->
</main><!-- End .main -->

<!-- Button trigger modal -->

{% endblock %}