<header class="header header-8">
    <div class="header-middle sticky-header">
        <div class="container">
            <div class="header-left">
                <button class="mobile-menu-toggler">
                    <span class="sr-only">Toggle mobile menu</span>
                    <i class="icon-bars"></i>
                </button>

                <a href="" class="logo">
                    <img src="{{ url_for('static',filename='assets/images/demos/demo-10/logo.png') }}" alt="Molla Logo" width="105" height="25">
                </a>
            </div><!-- End .header-left -->

            <div class="header-right">
                <nav class="main-nav">
                    <ul class="menu sf-arrows">
                        <li class="megamenu-container active">
                            <a href="{{ url_for('site.main') }}" class="">Home</a>
                        </li>
                        <li>
                            <a href="{{ url_for('site.shop') }}" class="">Shop</a>
                        </li>
                        <li>
                            <a href="#" role="button" class="sf-with-ul">Blog</a>

                            <ul>
                                <li><a href="{{ url_for('site.about_us') }}">About Us</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>

                <!-- Option 1: Include in HTML -->
                <div class="dropdown cart-dropdown">
                    {% if current_user.is_authenticated %}
                    <a href="{{ url_for('ordering.cart') }}" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false" data-display="static">
                        <i class="icon-shopping-cart"></i>
                    </a>
                    <a href="{{ url_for('ordering.dashboard') }}" class="mb-1 ml-4 mr-4">
                        <i style="font-size: 27px;" class="bi bi-person-circle"></i>
                    </a>
                    {% else %}
                        <a class="btn btn-outline-info" style="border-radius: 10px;" href="{{url_for('auth.login')}}">Login / Register</a>
                    {% endif %}
                </div><!-- End .cart-dropdown -->
            </div><!-- End .header-right -->
        </div><!-- End .container -->
    </div><!-- End .header-middle -->
</header><!-- End .header -->