{% extends 'base.html' %}


{% block content %}
<main class="main">
    <div class="page-header text-center" style="background-image: url({{ url_for('static',filename='assets/images/page-header-bg.jpg') }})">
        <div class="container">
            <h1 class="page-title">Checkout<span>Shop</span></h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{url_for('site.main')}}">Home</a></li>
                <li class="breadcrumb-item"><a href="{{url_for('site.shop')}}">Shop</a></li>
                <li class="breadcrumb-item active" aria-current="page">Checkout</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->


    <div class="page-content">
        <div class="checkout">
            <div class="container">
                <form action="#" method="post">
                    <div class="row">
                        <div class="col-lg-9">
                            <h2 class="checkout-title">Billing Details</h2><!-- End .checkout-title -->
                                <label>Country *</label>
                                <input type="text" class="form-control" name="country" required>
                                
                                <label>Town / City *</label>
                                <input type="text" class="form-control" name="city" required>

                                <label>Street address *</label>
                                <input type="text" class="form-control" name="street" required>

                                <label>Postcode / ZIP *</label>
                                <input type="text" class="form-control" name="postal_code" required>
                        </div><!-- End .col-lg-9 -->
                        <aside class="col-lg-3">
                            <div class="summary">
                                <h3 class="summary-title">Your Order</h3><!-- End .summary-title -->
                                <table class="table table-summary">
                                    <tbody>
                                        <tr class="summary-total">
                                            <td>Total:</td>
                                            <td>${{order.total_amount}}</td>
                                        </tr><!-- End .summary-total -->
                                    </tbody>
                                </table><!-- End .table table-summary -->

                                
                                <select class="form-control form-select-lg border" name="method" required aria-label=".form-select-lg example">
                                    <option value="paypal">PayPal</option>
                                    <option value="credit_card">Credit Card</option>
                                  </select>

                                <img class="mb-2" src="{{ url_for('static',filename='assets/images/payments-summary.png') }}" alt="payments cards">

                                <button type="submit" class="btn btn-outline-primary-2 btn-order btn-block">
                                    <span class="btn-text">Place Order</span>
                                    <span class="btn-hover-text">Proceed to Checkout</span>
                                </button>
                            </div><!-- End .summary -->
                        </aside><!-- End .col-lg-3 -->
                    </div><!-- End .row -->
                </form>
            </div><!-- End .container -->
        </div><!-- End .checkout -->
    </div><!-- End .page-content -->
</main><!-- End .main -->
{% endblock %}